@import (css) url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;400;600;700&display=swap');
@landing1-primary-color: #DA4981;

#landing1 {
  font-family: 'Maitree', serif;
  .ant-btn-primary {
    color: white;
    background-color: @landing1-primary-color;
    border-color: @landing1-primary-color;
  }
}