@import (css) url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;400;600;700&display=swap');
@landing1-primary-color: #DA4981;

#landing1 {
  font-family: 'Maitree', serif;
  .hero-section {
    .hero-img {
      display: none;
    }
  }
  .themed-header {
    background-color: white;
  }
  .ant-btn-primary {
    color: white;
    background-color: @landing1-primary-color;
    border-color: @landing1-primary-color;
  }
  .footer-section {
    background-image: url('../images/landing1/footer-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 300px;
    .footer-img {
      display: none;
    }
  }
  .ant-layout-footer .courses {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: transparent !important;
  }
}
.landing1-theme {
  &.quiz-modal {
    .ant-modal-header {
      background-color: @landing1-primary-color;
      .ant-modal-title {
        color: white;
      }
    }
    .ant-modal-close {
      .ant-modal-close-x{
        color: white;
      }
    }
    .ant-btn-primary {
      color: white;
      background-color: @landing1-primary-color;
      border-color: @landing1-primary-color;
    }
    .quiz-modal-title {
      em {
        color: @landing1-primary-color;
      }
    }
  }
}