@import (css) url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;400;600;700&display=swap');
@landing2-primary-color: #DA4981;

#landing2 {
  // &.ant-layout {
  //   background-color: transparent !important;
  // }
  .page-container {
    padding-top: 100px;
    // &::before {
    //   content: ' ';
    //   display: block;
    //   width: 100%;
    //   height: 300px;
    //   position: absolute;
    //   top: 0px;
    //   left: 0px;
    //   z-index: -1;
    //   background: linear-gradient(178.48deg, #DA4981 8.77%, rgba(255, 255, 255, 0.4) 93.53%, rgba(255, 255, 255, 0) 122.56%);
    // }
  }
  .hero-section {
    background-position: bottom;
    .ant-typography {
      color: white;
      span {
        color: white !important;
      }
    }
    .ant-btn-primary {
      background: linear-gradient(180deg, #FFFFFF 0%, #B3FF84 100%);
      /* Button Green Shadow */

      box-shadow: 0px 10px 22px rgba(84, 240, 90, 0.3);
      border-radius: 12px;
      border-color: transparent;
      color: #0D8B30;
      img {
        content: url(../images/landing2/Vector.png)
      }
    }
  }
  .themed-header {
    &.home {
      background-color: transparent;
    }
    &.courses {
      background-color: transparent;
    }
    &.scrolled {
      background-color: @landing2-primary-color;
    }
    background-color: @landing2-primary-color;
    position: absolute;
    top: 0;
    width: 100%;
    .ant-input-search {
      background-color: transparent;
      border-radius: 18px;
      input {
        background-color: transparent;
        color: white;
        &::placeholder {
          color:white;
        }
      }
      .ant-input-search-icon {
        color: white;
        &::before{
          border-left:none;
        }
      }
    }
  }
  .themed-menu{
    background-color: transparent;
    border-bottom: none;
    .ant-menu-item {
      &.ant-menu-item-active {
        border-bottom: 2px solid transparent !important;
      }
    }
    a {
      color: white;
    }
  }
  .course-list-item {
    text-align: left !important;
    border-radius: 12px !important;
    img {
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  }
  .ant-btn-group {
    .ant-btn {
      border-radius: 0px;
      &:first-child {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
      }
      &:last-child {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
  }
  .ant-btn-primary {
    background: linear-gradient(180deg, #FFBBD3 0%, #FB92BA 17.19%, #D2437A 100%);
    border-radius: 12px;
    color: white;
    border-color: transparent;
  }
  .course-section {
    background-image: url('../images/landing2/coursebg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-bottom: 300px;
    margin-bottom: 0px;
  }
  .activity-section {
    .activity-img {
      content: url('../images/landing2/activity.png');
    }
    h4.ant-typography {
      color: @landing2-primary-color;
    }
    .calendar {
      img {
        content: url('../images/landing2/Group19.png')
      }
    }
    .schedule {
      img {
        content: url('../images/landing2/Group20.png')
      }
    }
  }
  .test-section {
    .test-img {
      content: url('../images/landing2/testimg.png');
    }
    h4.ant-typography {
      color: @landing2-primary-color;
    }
    .learn {
      img {
        content: url('../images/landing2/Group21.png')
      }
    }
    .self-understand {
      img {
        content: url('../images/landing2/Group22.png')
      }
    }
  }
  .ant-layout-footer {
    padding: 0px;
    &.home{
      background-image: url('../images/landing2/footerbg.png');
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      padding-top: 160px;
      .footer-logo {
        content: url('../images/landing2/logo.png');
      }
      .ant-typography {
        color: white;
      }
    }
    &:not(.home) {
      .footerleft {
        background-image: url(../images/landing2/footerleft.png);
        background-position: top right;
        background-size: cover;
      }
      .footerright {
        background-image: url(../images/landing2/footerright.png);
        background-position: top left;
        background-size: cover;
      }
    }
    hr {
      display: none;
    }
  }
  .course-list-page {
    &::before {
      content: ' ';
      display: block;
      width: 100%;
      height: 300px;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: -1;
      background: linear-gradient(178.48deg, #DA4981 8.77%, rgba(255, 255, 255, 0.4) 93.53%, rgba(255, 255, 255, 0) 122.56%);
    }
    .page-title {
      color: white;
    }
    .ant-breadcrumb {
      .ant-breadcrumb-separator {
        color: white;
      }
      span {
        &:first-child {
          .ant-breadcrumb-link {
            color: @landing2-primary-color;
          }
        }
      }
      .ant-breadcrumb-link {
        color: white;
      }
    }
  }
  .footer-section {
    background-image: none;
    // .footer-img {

    // }
  }
  // .ant-layout-footer.courses {
  //   background-color: transparent;
  //   margin-top: -100%;
  // }
  .ant-tabs-nav {
    .ant-tabs-ink-bar {
      background: @landing2-primary-color;
    }
    .ant-tabs-tab {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 4px;
      .ant-tabs-tab-btn {
        min-width: 80px;
        text-align: center;
      }
      color: @landing2-primary-color;
      &.ant-tabs-tab-active {
        background-image: url('../images/landing2/tabbg.png');
        background-size: 100% 100%;
        .ant-tabs-tab-btn {
          color: white;
        }
      }
    }
  }
  .comingsoonreview {
    img[alt=error] {
      width: 240px;
      content: url(../images/landing2/comingsoonreview.png);
    }
  }
  .comingsoonchat {
    img[alt=error] {
      width: 240px;
      content: url(../images/landing2/comingsoonchat.png);
    }
  }
}