@import (css) url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;600;700&display=swap');
@import '~antd/dist/antd.less';

body, #root {
  height: 100%;
  font-family: 'Kanit', sans-serif;
}

#root {
  .ant-checkbox-inner {
    border-radius: 50%;
    border: 1px solid #18A0FB;
    &::after {
      left: 18%;
    }
  }
  .ant-checkbox-checked {
    .ant-checkbox-inner {
      background-color: white;
      border-color: #18A0FB;
      border-width: 2px;
      &::after {
        border: 2px solid #18A0FB;
        border-top: 0;
        border-left: 0;
      }
    }
  }
  .vertical-checkbox-group-item-container {
    padding-bottom: 8px;
  }
  .ant-btn-primary {
    color: @primary-color;
    background-color: white;
    border-color: @primary-color;
  }
  .ant-radio-inner {
    border-color: @primary-color;
  }
}